<section id="about" class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 text-center">
            <fa-icon class="icon" [icon]="['fas', 'rocket']" [fixedWidth]="true"></fa-icon>
            <h5 class="my-3">Missão</h5>
            <p class="text-white px-5">Fornecer soluções personalizadas para pequenas e grandes empresas, unindo tecnologias recentes e constante aprimoramento. Convergindo em uma evolução para todos envolvidos.</p>
        </div>
        <div class="col-12 col-md-4 text-center">
            <fa-icon class="icon" [icon]="['fas', 'eye']" [fixedWidth]="true"></fa-icon>
            <h5 class="my-3">Visão</h5>
            <p class="text-white px-5">Adquirir visibilidade em meio as empresas de desenvolvimento por meio de um trabalho que envolve eficiência e eficácia sem sacrificar o tempo de desenvolvimento.</p>
        </div>
        <div class="col-12 col-md-4 text-center">
            <fa-icon class="icon" [icon]="['fas', 'gem']" [fixedWidth]="true"></fa-icon>
            <h5 class="my-3">Valores</h5>
            <p class="text-white px-5">Responsabilidade, Inovação, Colaboração, Ética, Transparência e Resiliência. </p>
        </div>
    </div>
</section>