<section id="services" class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="mb-5 text-center">Nossos serviços</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 text-center mb-4">
            <img src="assets/svg-animated/www-animate.svg" alt="aplicações web" height="auto" width="100%">
            <h3 class="red">Aplicações web / mobile</h3>
            <p class="mx-3">Desenvolvimento de aplicações web e mobile 100% responsivo.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 offset-md-2 text-center mb-4">
            <img src="assets/svg-animated/server-animate.svg" alt="ciência de dados" height="auto" width="100%">
            <h3 class="blue">Data science</h3>
            <p class="mx-3">Transformação de dados para obtenção de inteligência de negócio.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center">
            <img src="assets/svg-animated/robotics-animate.svg" alt="robôs automatizados" height="auto" width="100%">
            <h3 class="blue">RPA - Processos de automação robotizados</h3>
            <p class="mx-3">Conversão de rotinas manuais para processos robóticos, melhoria de processos, redução de custos, capturar e organizar dados</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 offset-md-2 text-center">
            <img src="assets/svg-animated/artificial-intelligence-animate.svg" alt="inteligencia artificial" height="auto" width="100%">
            <h3 class="red">IA - Inteligencia artificial</h3>
            <p class="mx-3">Aplicação de processamento de linguagem e aprendizado de máquina para criação de aplicações inteligentes.</p>
        </div>
    </div>
</section>


<!-- <a href="https://storyset.com/web">Illustration by Freepik Storyset</a>
<a href="https://storyset.com/internet">Illustration by Freepik Storyset</a>
<a href="https://storyset.com/technology">Illustration by Freepik Storyset</a>
<a href="https://storyset.com/technology">Illustration by Freepik Storyset</a> -->