@import "~@angular/material/theming";
@import "./../colors.scss";

@include mat-core();

$my-primary: (
  100: $red-100,
  200: $red-200,
  300: $red-300,
  400: $red-400,
  500: $red-500,
  600: $red-600,
  700: $red-700,
  800: $red-800,
  900: $red-900,
  contrast: (
    100: #212529,
    200: #212529,
    300: #212529,
    400: #212529,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$my-accent: (
  100: $blue-100,
  200: $blue-200,
  300: $blue-300,
  400: $blue-400,
  500: $blue-500,
  600: $blue-600,
  700: $blue-700,
  800: $blue-800,
  900: $blue-900,
  contrast: (
    100: #212529,
    200: #212529,
    300: #212529,
    400: #212529,
    500: #212529,
    600: #212529,
    700: #212529,
    800: #ffffff,
    900: #ffffff,
  ),
);

$phantom-primary: mat-palette($my-primary);
$phantom-accent: mat-palette($my-accent);
$phantom-warn: mat-palette($mat-red);

$phantom-theme: mat-light-theme($phantom-primary, $phantom-accent, $phantom-warn);

@include angular-material-theme($phantom-theme);

.mat-drawer-container {
  background-color: #f0f3f5;
  color: #2f2f2f;
}

button[mat-button],
button[mat-raised-button],
button[mat-fab],
button[mat-mini-fab],
button[mat-stroked-button],
button[mat-flat-button] {
  min-width: 40px;
  padding: 0 14px;
}
