@import "./../../colors.scss";
$toolbar: 56px;
$sidenavTransition: 0.25s;
$leftRule: 3px;

.sidenav-container {
    height: calc(100% - #{$toolbar}) !important;
}

.mat-toolbar#navbar {
    height: #{$toolbar};
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 3;
}

.sidenav {
    transition: width #{$sidenavTransition};
    width: 200px;
}

// .mat-toolbar {
//     border-bottom: 2px solid $red-600;
// }

fa-icon {
    text-align: center;
    flex-shrink: 0;
    width: 24px;
    box-sizing: content-box;
    border-radius: 50%;
    margin: 4px 12px 4px 4px;
    -webkit-font-smooth: antialiased;
}

.list-height {
    height: 56px !important;
}

.mat-list-item {
    font-size: 1.3rem;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
}

a.mat-list-item,
button.mat-list-item {
    padding: 0 0 0 #{$leftRule};
}

.mat-list-item:hover {
    padding: 0;
    color: $red-500;
    border-left: #{$leftRule} solid $red-500;
}
.mat-list-item:hover.selected-item {
    color: white;
}

.selected-item {
    color: white;
    background-color: $red-500 !important;
}

.sidenav-colapse {
    transition: width #{$sidenavTransition};
    width: 53px;
}

.mat-sidenav-content {
    transition: margin #{$sidenavTransition};
}

.sidenav-content-colapse {
    transition: margin #{$sidenavTransition};
    margin: 0 0 0 53px !important;
}

.collapsed span {
    display: none;
}

.bg-transparent {
    background: transparent;
    -webkit-transition: background 0.1s ease-out;
    -moz-transition: background 0.1s ease-out;
    -o-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
}

.bg-white {
    background: white;
    -webkit-transition: background 0.1s ease-in;
    -moz-transition: background 0.1s ease-in;
    -o-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
}

.logo-mobile {
    flex: 1 1 auto;
    margin-right: 56px;
}

.include-text {
    color: #ff3333;
    & span {
        color: #33ccff;
    }
}

.email,
.include-text {
    font-family: Candara;
    font-weight: bold;
}

.email {
    font-size: 0.9rem;
}

.bg-black {
    background: #2f2f2f;
}
