$red-100: #ff9a9a;
$red-200: #ff8080;
$red-300: #ff6666;
$red-400: #ff4d4d;
$red-500: #ff3333;
$red-600: #ff1a1a;
$red-700: #ff0000;
$red-800: #e60000;
$red-900: #cd0000;

$blue-100: #9ae5ff;
$blue-200: #80dfff;
$blue-300: #66d9ff;
$blue-400: #4dd2ff;
$blue-500: #33ccff;
$blue-600: #1ac6ff;
$blue-700: #00bfff;
$blue-800: #00ace6;
$blue-900: #0099cd;
